@import '../../styles/settings';

.no__result {
    margin: 0 auto;
    text-align: center;
    &-logo {
        height: 350px;
        width: 750px;
    }
    &-txt {
        @include heading-large;
    }
}

@media (max-width: 480px) {
    .no__result {
        &-logo {
            height: 150px;
            width: 100%;
        }
        &-txt {
            @include heading-medium
        }
    }
}